@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");

html {
  background-color: #061C30;
  color: white;
  border-style: none;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  line-height: 2;
}

body {
  margin-left: 30%;
}

a {
  color:#62EEE0;
}

a:hover {
  color:#CAFCEF;
}

a,
a:hover {
  text-decoration: none;
  border: none;
  border-style: none;
  box-shadow: none;
}